.container {
  min-height: 85vh;
  > * {
    width: 90%;
    margin: 10px 0 !important;
  }

  form > *:not(.checkbox):not(.google-btn) {
    width: 100%;
    margin: 10px 0 !important;
  }

  .google-btn {
    width: 100%;
    margin-top: -5px !important;
    .my-icon {
      position: absolute;
      left: 8px;
      padding: 4px;
      border-radius: 50%;
      background-color: #2196f3;
    }
  }
}

.register {
  padding-right: 5px;
}

.checkbox {
  margin: 0 0 0 -10px !important;
}

@media (min-width: 600px) {
  .container > * {
    width: 400px;
  }
}

.link {
  width: 50%;
}

.last {
  justify-items: flex-end;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
